.gradle
gradle
build
.idea
target
**/*.iml
/.data/
/reports/
/reports-copy/
/reports_old/
/reports_robbert/
/reports_karen/
.DS_Store

operations-demand-service/*.avro
operations-demand-service/*.avsc
operations-demand-service/_*

**/hs_err_*.log
**/pom.xml.versionsBackup
